
<%= simple_form_container do %>
  <h3><%= title %></h3>

  <%= render 'shared/errors', :object => @user %>

  <%= form_for(@user) do |f| %>
    <div class="form-group">
      <%= f.label :name, :class => 'control-label' %>
      <%= f.text_field :name, :class => 'form-control', :type => '' %>
    </div>

    <div class="form-group">
      <%= f.label :email, :class => 'control-label' %>
      <%= f.email_field :email , :class => 'form-control'%>
    </div>

    <div class="form-group">
      <%= f.label :level, :class => 'control-label' %>
      <%= f.number_field :level , :class => 'form-control'%>
    </div>

    <div class="actions">
      <%= f.submit :class => 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>
