<table class="users">
<tr>
  <th></th>
  <th>Github user ID</th>
  <th>Username</th>
  <th>Display name</th>
  <th>Email address</th>
  <th># of requests</th>
  <th># of requests (this hour)</th>
  <th># of searches</th>
  <th>Joined</th>
  <th></th>
</tr>
<% users.order('requests DESC').each do |user| %>
  <tr>
    <td>
      <%= link_to '', user_path(user), :class => 'btn-show' %>
      <%= link_to '', edit_user_path(user), :class => 'btn-edit' %>

      <% unless user.blocked %>
        <%= link_to '', block_user_path(user), method: :post, data: { confirm: 'Are you sure?' }, :class => "btn-lock" if current_user_admin? %>
      <% else %>
      <%= link_to '', unblock_user_path(user), method: :post, data: { confirm: 'Are you sure?' }, :class => "btn-unlock" if current_user_admin? %>
      <% end %>


    <% if user.admin? %>

      <%= link_to '', demote_user_path(user, User.LEVELS[:unlimited]), method: :post, data: { confirm: 'Are you sure?' }, :class => "btn-down" if current_user_admin? %>

    <% elsif user.unlimited? %>

      <%= link_to '', promote_user_path(user, User.LEVELS[:admin]), method: :post, data: { confirm: 'Are you sure?' }, :class => "btn-up" if current_user_admin? %>
      <%= link_to '', demote_user_path(user, User.LEVELS[:api_submitter]), method: :post, data: { confirm: 'Are you sure?' }, :class => "btn-down" if current_user_admin? %>

    <% elsif user.api_submitter? %>

      <%= link_to '', promote_user_path(user, User.LEVELS[:unlimited]), method: :post, data: { confirm: 'Are you sure?' }, :class => "btn-up" if current_user_admin? %>
      <%= link_to '', demote_user_path(user, User.LEVELS[:community]), method: :post, data: { confirm: 'Are you sure?' }, :class => "btn-down" if current_user_admin? %>

    <% else %>

      <%= link_to '', promote_user_path(user, User.LEVELS[:api_submitter]), method: :post, data: { confirm: 'Are you sure?' }, :class => "btn-up" if current_user_admin? %>

    <% end %>


    </td>
    <td>
      <%= user.github_uid %>
      <% if user.blocked %>
        <span class="label label-danger">Blocked</span>
      <% end %>
    </td>
    <td><%= user.name %></td>
    <td><%= user.display_name %></td>
    <td><%= user.email %></td>
    <td><%= user.requests || 0 %></td>
    <td><%= user.timeframed_requests %></td>
    <td><%= user.search_count %></td>
    <td><%= time_ago_in_words(user.created_at) %> ago</td>

  </tr>
<% end %>

</table>
