<table>
<tr>
  <th></th>
  <th>Github user ID</th>
  <th>Username</th>
  <th>Display name</th>
  <th>Email address</th>
  <th># of requests</th>
  <th># of requests (this hour)</th>
  <th>Joined</th>
  <th></th>
</tr>
<% users.order('requests DESC').each do |user| %>
  <tr>
    <td>
      <%= link_to '', user_path(user), :class => 'btn-show' %>
      <%= link_to '', edit_user_path(user), :class => 'btn-edit' %>
    </td>
    <td><%= user.github_uid %></td>
    <td><%= user.name %></td>
    <td><%= user.display_name %></td>
    <td><%= user.email %></td>
    <td><%= user.requests || 0 %></td>
    <td><%= user.timeframed_requests %></td>
    <td><%= time_ago_in_words(user.created_at) %> ago</td>
    <% if user.admin? %>

      <td><%= link_to 'Demote to unlimited', demote_user_path(user, User.LEVELS[:unlimited]), method: :post, data: { confirm: 'Are you sure?' }, :class => "btn btn-warning" if current_user_admin? %></td>

    <% elsif user.unlimited? %>

      <td><%= link_to 'Promote to admin', promote_user_path(user, User.LEVELS[:admin]), method: :post, data: { confirm: 'Are you sure?' }, :class => "btn btn-warning" if current_user_admin? %></td>
      <td><%= link_to 'Demote to api submitter', demote_user_path(user, User.LEVELS[:api_submitter]), method: :post, data: { confirm: 'Are you sure?' }, :class => "btn btn-warning" if current_user_admin? %></td>

    <% elsif user.api_submitter? %>

      <td><%= link_to 'Promote to unlimited', promote_user_path(user, User.LEVELS[:unlimited]), method: :post, data: { confirm: 'Are you sure?' }, :class => "btn btn-warning" if current_user_admin? %></td>
      <td><%= link_to 'Demote to community', demote_user_path(user, User.LEVELS[:community]), method: :post, data: { confirm: 'Are you sure?' }, :class => "btn btn-warning" if current_user_admin? %></td>

    <% else %>

      <td><%= link_to 'Promote to api submitter', promote_user_path(user, User.LEVELS[:api_submitter]), method: :post, data: { confirm: 'Are you sure?' }, :class => "btn btn-warning" if current_user_admin? %></td>

    <% end %>
    <% unless user.blocked %>
      <td><%= link_to 'Block user', block_user_path(user), method: :post, data: { confirm: 'Are you sure?' }, :class => "btn btn-warning" if current_user_admin? %></td>
    <% else %>
      <td><%= link_to 'Unblock user', unblock_user_path(user), method: :post, data: { confirm: 'Are you sure?' }, :class => "btn btn-warning" if current_user_admin? %></td>
    <% end %>

  </tr>
<% end %>

</table>
