
<tr class="user_header">
  <th colspan="7">
    <h4><%= "#{user_class} (#{users.count})" %></h4>
  </th>
</tr>

<% if users.count > 0 %>
  <tr class="user_header">
    <th></th>
    <th>Username</th>
    <th>Email address</th>
    <th>Total requests</th>
    <th>Hourly requests</th>
    <th>Searches</th>
    <th>Joined</th>
  </tr>
  <% users.order(@default_order ? 'requests DESC' : "#{@current_order} #{@current_order_way}").each do |user| %>
    <tr>
      <td>
        <%= link_to '', user_path(user), :class => 'btn-show' %>
        <%= link_to '', edit_user_path(user), :class => 'btn-edit' %>

        <% unless user.blocked %>
          <%= link_to '', block_user_path(user), method: :post, data: { confirm: 'Are you sure?' }, :class => "btn-lock" if current_user_admin? %>
        <% else %>
        <%= link_to '', unblock_user_path(user), method: :post, data: { confirm: 'Are you sure?' }, :class => "btn-unlock" if current_user_admin? %>
        <% end %>


      <% if user.admin? %>

        <%= link_to '', demote_user_path(user, User.LEVELS[:unlimited]), method: :post, data: { confirm: 'Are you sure?' }, :class => "btn-down" if current_user_admin? %>

      <% elsif user.unlimited? %>

        <%= link_to '', promote_user_path(user, User.LEVELS[:admin]), method: :post, data: { confirm: 'Are you sure?' }, :class => "btn-up" if current_user_admin? %>
        <%= link_to '', demote_user_path(user, User.LEVELS[:api_submitter]), method: :post, data: { confirm: 'Are you sure?' }, :class => "btn-down" if current_user_admin? %>

      <% elsif user.api_submitter? %>

        <%= link_to '', promote_user_path(user, User.LEVELS[:unlimited]), method: :post, data: { confirm: 'Are you sure?' }, :class => "btn-up" if current_user_admin? %>
        <%= link_to '', demote_user_path(user, User.LEVELS[:community]), method: :post, data: { confirm: 'Are you sure?' }, :class => "btn-down" if current_user_admin? %>

      <% else %>

        <%= link_to '', promote_user_path(user, User.LEVELS[:api_submitter]), method: :post, data: { confirm: 'Are you sure?' }, :class => "btn-up" if current_user_admin? %>

      <% end %>


      </td>
      <td>
        <%= user.name %>
        <% if user.blocked %>
          <span class="label label-danger">Blocked</span>
        <% end %>
      </td>
      <td><%= user.email %></td>
      <td><%= user.requests || 0 %></td>
      <td><%= user.timeframed_requests %></td>
      <td><%= user.search_count %></td>
      <td><%= time_ago_in_words(user.created_at) %> ago</td>

    </tr>
  <% end %>
<% else %>
  <tr>
    <td colspan="6" class"centered"><h5>No users under this level</h5></td>
  </tr>
<% end %>
