
<%= simple_index_container do %>
  <div class="centered_container">

    <table class="users table table-condensed table-striped">
      <tr>
        <th colspan="7" class="simple_menu">
          <%= link_to 'Create', new_user_path, :class => 'btn btn-primary' %>
          <%= render :partial => 'shared/sort_menu', :locals => { :current_order => @current_order, :current_order_way => @current_order_way, :fields => @sort_fields, :default_order => @default_order } %>
        </th>
      </tr>
      <%= render :partial => 'users', :locals => {:users => User.admins, :user_class => "Admin users"} %>
      <%= render :partial => 'users', :locals => {:users => User.unlimited, :user_class => "Unlimited users"} %>
      <%= render :partial => 'users', :locals => {:users => User.api_submitters, :user_class => "API submitter users"} %>
      <%= render :partial => 'users', :locals => {:users => User.community, :user_class => "Normal users"} %>
    </table>
  </div>
<% end %>
