<h3>Admin users (<%= User.admins.count %>)</h3>
<%= render :partial => 'users', :locals => {:users => User.admins} %>

<h3>Unlimited users (<%= User.unlimited.count %>)</h3>
<%= render :partial => 'users', :locals => {:users => User.unlimited} %>

<h3>API submitters users (<%= User.api_submitters.count %>)</h3>
<%= render :partial => 'users', :locals => {:users => User.api_submitters} %>

<h3>Normal users (<%= User.community.count %>)</h3>
<%= render :partial => 'users', :locals => {:users => User.community} %>
