<% if @user.blocked %>
<h4 class="alert alert-danger">User blocked</h4>
<% end %>


<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <div class="panel panel-default user_menu">
      <div class="panel-heading">
        <h4>Welcome <%= @user.display_name || @user.name %></h4>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <%= link_to "Watched combinations", user_watched_combinations_path(@user), :class => 'list-group-item' %>

          <% if current_user_admin? %>
            <%= link_to "Manage other users", users_path, :class => 'list-group-item'  %>
            <%= link_to "View unknown DHCP fingerprints", unknown_dhcp_fingerprints_path, :class => 'list-group-item' %>
          <% end %>

          <%= link_to "Regenerate key", generate_key_user_path(@user), :class => 'list-group-item', :data => {:confirm => "Are you sure ?\nThis will invalidate your previous key and cannot be undone !"} %>
          <%= link_to 'Request right to submit through the API', request_api_user_path(@user), method: :post, :class => 'list-group-item' %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="jumbotron user_info">
      <h4>Github username : <%= @user.name %></h4>
      <h5>Email address : <%= @user.email %></h5>
      <h5>Github user id : <%= @user.github_uid %></h5>

      <div class="panel api_key">
        <h3>API key:</h3>
        <pre><%= @user.key %></pre>
      </div>
    </div>

  </div>

  <div class="user_api_stats col-md-2">
    <div class="label label-info">
      Total number of requests:
      <%= @user.requests || 0 %>
    </div>
    <div class="<%=  @user.timeframed_requests < User.MAX_TIMEFRAMED_REQUESTS ? 'label label-success' : 'label label-danger' %>">
      Hourly requests:
      <%= @user.timeframed_requests || 0 %>
      (MAX : <%= User.MAX_TIMEFRAMED_REQUESTS %>)
    </div>
    <div class="label label-success">
      Contributed combinations:
      <%= @user.combinations.count || 0 %>
    </div>
  </div>

</div>
