<% if @user.blocked %>
<h4 class="alert alert-danger">User blocked</h4>
<% end %>
<p>
  <strong>Github user ID:</strong>
  <%= @user.github_uid %>
</p>
<p>
  <strong>Username:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Email address:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Display name:</strong>
  <%= @user.display_name %>
</p>
<p>
  <strong>API key:</strong>
  <%= @user.key %>
</p>
<p>
  <strong>Total number of requests:</strong>
  <%= @user.requests || 0 %>
</p>
<p>
  <strong>Hourly requests:</strong>
  <%= @user.timeframed_requests || 0 %>
  <strong>(MAX : <%= User.MAX_TIMEFRAMED_REQUESTS %>)</strong>
</p>

<%= link_to "Generate key", generate_key_user_path(@user) %>
<%= link_to "Manage other users", users_path if current_user_admin? %>
