<%= simple_form_container do %>
  <h3><%= title %></h3>
  <%= form_for(@discoverer) do |f| %>
    <%= render 'shared/errors', :object => @discoverer %>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>

    <div class="field">
      <%= f.label :priority %>
      <%= f.number_field :priority %>
    </div>

    <div class="field">
      <%= f.label "Associated device" %><br/>
      <%= f.hidden_field :device_id %>
      <%= render :partial => 'devices/devices_selection', :locals => {:set => '#discoverer_device_id', :selected => @discoverer.device} %>
    </div>

    <div class="field">
      <%= f.label :version %>
      <%= f.text_field :version %>
    </div>

    <% if @discoverer.persisted? %>
      <a href="<%= new_rule_path %>?version_discoverer_id=<%= @discoverer.id %>">New version rule</a>
      <a href="<%= new_rule_path %>?device_discoverer_id=<%= @discoverer.id %>">New Device rule</a>
    <% end %>

    <input name="discoverer[device_rule_ids][]" value="" type="hidden">
    <% @discoverer.device_rules.each do |rule| %>
      <div>
        <button onclick="javascript:$(this).parent().remove()">-</button>
        <a href="<%= edit_rule_path(rule) %>">edit</a>
        <input name="discoverer[device_rule_ids][]" value="<%=rule.id%>" type="hidden">
        <span><%= rule.value %></span>
      </div>
    <% end %>

    <input name="discoverer[version_rule_ids][]" value="" type="hidden">
    <% @discoverer.version_rules.each do |rule| %>
      <div>
        <button onclick="javascript:$(this).parent().remove()">-</button>
        <a href="<%= edit_rule_path(rule) %>">edit</a>
        <input name="discoverer[version_rule_ids][]" value="<%=rule.id%>" type="hidden">
        <span><%= rule.value %></span>
      </div>
    <% end %>

    <div class="actions">
      <%= link_to 'Show', @discoverer, :class => 'btn btn-warning' if @discoverer.persisted? %>
      <%= f.submit %>
    </div>
  <% end %>
<% end %>
