
<%= simple_show_container do %>
  <div class="pull-right">
    <%= link_to 'Edit', edit_discoverer_path(@discoverer), :class=> 'btn btn-primary' if current_user_admin? %> 
  </div>
  <div class="show-field">
    <strong>Description:</strong>
    <%= @discoverer.description %>
  </div>

  <div class="show-field">
    <strong>Priority:</strong>
    <%= @discoverer.priority %>
  </div>

  <div class="show-field">
    <strong>Version:</strong>
    <pre><%= @discoverer.version %></pre>
  </div>

  <div class="show-field">
    <strong>Associated device:</strong>
    <a href="<%= device_path @discoverer.device %>"><%= @discoverer.device.full_path %></a>
  </div>

  <% unless @discoverer.device_rules.empty? %>
  <h3>Device rules</h3>
  <table>
  <th></th>
  <th>Rule id</th>
  <th>Computed rule</th>
  <% @discoverer.device_rules.each do |rule| %>
    <tr>
    <td>
      <%= link_to '', edit_rule_path(rule), :class => "btn-edit" if current_user_admin? %>
      <%= link_to '', rule, method: :delete, :data => { confirm: 'Are you sure?' }, :class => "btn-delete" if current_user_admin? %>
    </td>
    <td><%= rule.id %></td>
    <td class="hover-popup"><%= rule.computed %></td>
    </tr>
  <% end %>
  </table>
  <% end %>

  <% unless @discoverer.version_rules.empty? %>
    <h3>Version rules</h3>
    <table>
    <th></th>
    <th>Rule id</th>
    <th>Computed rule</th>
    <% @discoverer.version_rules.each do |rule| %>
      <tr>
      <td>
        <%= link_to '', edit_rule_path(rule), :class => "btn-edit" if current_user_admin?%>
        <%= link_to '', rule, method: :delete, :data => { confirm: 'Are you sure?' }, :class => "btn-delete" if current_user_admin? %>
      </td>
      <td><%= rule.id %></td>
      <td class="hover-popup"><%= rule.computed %></td>
      </tr>
    <% end %>
    </table>
  <% end %>


<% end %>
