

<%= simple_form_container do %>
  <h3><%= title %></h3>
  <%= form_for(@rule) do |f| %>
    <%= render 'shared/errors', :object => @rule %>

    <div class="field">
      <%= f.label :value %>
      <%= f.text_field :value %>
    </div>

    <div class="field">
      <%= f.label :device_discoverer %>
      <%= f.collection_select(:device_discoverer_id, Discoverer.all, :id, :description, :include_blank => true) %>
    </div> 

    <div class="field">
      <%= f.label :version_discoverer %>
      <%= f.collection_select(:version_discoverer_id, Discoverer.all, :id, :description, :include_blank => true) %>
    </div>

    <div class="field">
      <%= label_tag :computed %>
      <%= text_field_tag :computed, @rule.computed, :disabled => :disabled %>
    </div>

    <%= label_tag :conditions %>
    <input name="rule[condition_ids][]" value="" type="hidden">
    <% @rule.conditions.each do |condition| %>
      <div>
        <button onclick="javascript:$(this).parent().remove()">-</button>
        <a href="<%= edit_rule_condition_path(@rule, condition) %>">edit</a>
        <input name="rule[condition_ids][]" value="<%=condition.id%>" type="hidden">
        <span><%= condition.key %> : <%= condition.value %></span>
      </div>
    <% end %>



    <div class="row">
      <div class="col-xs-8">
      <h4>New condition</h4>
      <%= render 'shared/errors', :object => @condition %>
      <%= fields_for @condition do |c| %>
        <div class="field"> 
          <%= c.label :key %>
          <%= c.text_field :key %>
        </div>
        <div class="field"> 
          <%= c.label :value %>
          <%= c.text_field :value %>
        </div>
      <% end %>
      </div>
    </div>
    <div class="actions">
      <%= link_to 'Cancel', edit_rule_path(@rule), :class => 'btn btn-warning' if @rule.persisted? %>
      <%= f.submit %>
    </div>
  <% end %>
<% end %>
