
<%= will_paginate %>

<% @events.each do |event| %>
  <div class="panel panel-primary">
      <div class="panel-heading"><%= event.title %> (<%= event.created_at %>)</div>
      <div class="panel-body">
          <p><%= event.value.html_safe %></p>
      </div>
  </div>
<% end %>

<%= will_paginate %>
