<% if device.approved || current_user_admin? %> 

  <% unless device.device.empty? %>
  <li class="no-bullet">
  <span onclick="toggle_device('<%= device.id %>')" class="device-toggler" id="toggle-childs-<%= device.id %>">+</span>
  <% else %>
  <li>
  <% end %>

  <span>
  <%= link_to '', device, :class => "btn-show" %>
  <!---
  <%= link_to '', edit_device_path(device), :class => "btn-edit" if current_user_admin? %>
  <%= link_to '', device, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn-delete" if current_user_admin? %>
  --->
  <%= device.name.unpack("C*").pack("U*") %>
  </span>
  </li>
<% end %>

