
<%= simple_form_container do %>
  <h3><%= title %></h3>
  <%= form_for(@device) do |f| %>
    <%= render 'shared/errors', :object => @device %>

    <div class="field">
      <%= f.label "Parent" %><br/>
      <%= f.hidden_field :parent_id %>
      <%= render :partial => 'devices/devices_selection', :locals => {:set => '#device_parent_id', :selected => @device.parent} %>
    </div>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

  <% end %>
<% end %>
