
<div class="row">
  <div class="col-xs-offset-1 col-xs-10">
    <%= render partial: "shared/help" %>
    <div>
      <%= render :partial => 'shared/search', :locals => {:action_url => search_devices_path} %>
      <div class="pull-right">
        <%= link_to "See not approved", not_approved_devices_path, :class => "btn btn-primary" if current_user_admin? %>
        <%= link_to 'New device', new_device_path, :class => 'btn btn-primary' if current_user_admin? %>
      </div>
    </div>

    <% level = 1 %>
    <% @devices.each do |device| %>
      <%= render :partial => 'childs', :locals => {:device => device, :level => level} %>
    <% end %>
  </div>
</div>
