

<%= simple_show_container do %>
  <h3>
    Device : <%= @device.name %>
    <div class="pull-right">
      <%= link_to 'Edit', edit_device_path(@device), :class=> 'btn btn-primary' if current_user_admin? %> 
    </div>
  </h3>

  <div class="padded">
    <div>
      <strong>Full path:</strong>
      <%= @device.full_path %>
    </div>

    <%= simple_line_container do %>
      <strong>Attributes:</strong>
      <div>
        <% if @device.mobile? %>
          <span class="label label-success">Mobile device</span>
        <% else %>
          <span class="label label-warning">Not a mobile</span>
        <% end %>

        <% if @device.tablet %>
          <span class="label label-success">Tablet</span>
        <% else %>
          <span class="label label-warning">Not a tablet</span>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item active"><strong>Discoverers</strong></li>
      <% @device.discoverers.each do |discoverer| %>
        <a href="<%= discoverer_path discoverer %>" class="list-group-item"><%= discoverer.description %></a>
      <% end %>
      </ul>
    </div>

    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item active"><strong>Hierarchy</strong></li>
      <% @device.parents.each do |parent| %>
        <a href="<%= device_path parent %>" class="list-group-item"><%= parent.name %></a>
      <% end %>
        <li class="list-group-item"><%= @device.name %></li>
      </ul>
    </div>
  </div>



<% end %>
