
<% if combination.device %>
  <% parents = combination.device.parents.reverse %>
  <ul class="list-group">
    <li class="list-group-item active"><strong>Hierarchy</strong></li>
  <% parents.each do |parent| %>
    <li class="list-group-item"><%= parent.name %></li>
  <% end %>
    <li class="list-group-item"><%= combination.device.name %></li>
  </ul>
<% end %>

<p>
  <strong>MAC Vendor:</strong>
  <% if combination.mac_vendor %>
    <%= combination.mac_vendor.name %> (<%= combination.mac_vendor.mac %>)
  <% else %>
    Unknown
  <% end %>
</p>

<p>
  <strong>User agent:</strong>
  <pre><%= combination.user_agent.value %></pre>
</p>

<p>
  <strong>DHCPv4 fingerprint:</strong>
  <pre><%= combination.dhcp_fingerprint.value %></pre>
</p>

<p>
  <strong>DHCPv4 Vendor:</strong>
  <pre><%= combination.dhcp_vendor.value %></pre>
</p>

<p>
  <strong>DHCPv6 fingerprint:</strong>
  <pre><%= combination.dhcp6_fingerprint.value %></pre>
</p>

<p>
  <strong>DHCPv6 enterprise:</strong>
  <pre><%= combination.dhcp6_enterprise.value %></pre>
</p>
