
<%= simple_form_container do %>
  <%= form_for(@combination) do |f| %>

    <h3>Submit a new combination</h3>    

    <%= render 'shared/errors', :object => @combination %>

    <div class="field">
      <%= f.label "What is the device ?" %>
      <%= f.hidden_field :device_id %>
      <%= render :partial => 'devices/devices_selection', :locals => {:set => '#combination_device_id', :selected => nil} %>
      <a id="new_device" href="javascript:void(0)">Not listed ?</a>
    </div>
    <div class="field">
      <%= f.label :device, "What is the version of the device ?" %>
      <%= f.text_field :version %>
    </div>


    <h3>Enter the information you have for your device.</h3>

    <div class="field">
      <%= label_tag 'User Agent' %>
      <%= text_area_tag 'combination[user_agent_value]', @initial_values[:user_agent_value] %>
    </div>
    <div class="field">
      <%= label_tag 'DhcpFingerprint' %>
      <%= text_field_tag 'combination[dhcp_fingerprint_value]', @initial_values[:dhcp_fingerprint_value] %>
    </div>
    <div class="field">
      <%= label_tag 'DHCP vendor' %>
      <%= text_field_tag 'combination[dhcp_vendor_value]', @initial_values[:dhcp_vendor_value] %>
    </div>
    <div class="field">
      <%= label_tag 'MAC address' %>
      <%= text_field_tag 'combination[mac_value]', @initial_values[:mac_value] %>
    </div>
    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
  <% end %>

  <script>
    $('#new_combination #new_device').click(function(e){
      e.preventDefault()
      $('#device_creation_modal').modal('show')
    }) 
  </script>


  <div class="modal fade" id="device_creation_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="width:650px">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Submit a new device</h4>
        </div>
        <div class="modal-body">
            <iframe style="height:500px;width:600px;" src="<%= community_new_device_path %>"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
