


<div>



<div class="btn-group" style="float:left">
  <button type="button" class="btn btn-primary"><%= sorting_span @sort_fields[@order], @order %></button>
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <% @sort_fields.each do |field, display| %>
      <li><%= sorting_link display, field %></li>
    <% end %>

    <li><%= sorting_link 'Discovered when', 'created_at' %></li>


  </ul>
</div>

  <%= render :partial => 'search' %>

  <div class="pull-right">

  <%= render :partial => 'shared/stats' if Rails.env.production?  %>
  <%= link_to 'Known combinations', combinations_path, :class => request.path == combinations_path ? 'btn btn-primary active' : 'btn btn-primary' %>
  <%= link_to 'Unknown', unknown_combinations_path, :class => request.path == unknown_combinations_path ? 'btn btn-primary active' : 'btn btn-primary' %>
  <%= link_to 'Unrated', unrated_combinations_path, :class => request.path == unrated_combinations_path ? 'btn btn-primary active' : 'btn btn-primary' %>
  <%= link_to 'Submit a combination', new_combination_path, :class => 'btn btn-primary' %>
  </div>
</div>

<div style="clear:both"></div>
<table class="table-striped">
  <thead>
    <tr>
      <th></th>
      <th><%= sorting_link 'Device', 'devices.name' %></th>
      <th>Submitter</th>
      <th><%= sorting_link 'User agent', 'user_agents.value' %></th>
      <th>
        <%= sorting_link 'DHCPv4 fingerprint', 'dhcp_fingerprints.value' %><br/>
        <%= sorting_link 'DHCPv4 vendor', 'dhcp_vendors.value' %>
      </th>
      <th>
        <%= sorting_link 'DHCPv6 fingerprint', 'dhcp6_fingerprints.value' %><br/>
        <%= sorting_link 'DHCPv6 enterprise', 'dhcp6_enterprises.value' %>
      </th>
      <th><%= sorting_link 'Mac vendor', 'mac_vendors.name' %></th>
      <th><%= sorting_link 'Discovered when', 'created_at' %></th>
    </tr>
  </thead>

  <tbody>
    <% @combinations.each do |combination| %>
      <tr>
        <td class="options">
          <%= link_to '', combination, :class => "btn-show" %>
          <%= link_to '', edit_combination_path(combination), :class => "btn-edit" if current_user_admin? %>
          <%= link_to '', combination, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn-delete' if current_user_admin? %>
          <%= link_to '', calculate_combination_path(combination), :class => "btn-refresh" if current_user_admin? %>
          <%= link_to '', user_watched_combinations_path(@current_user, combination_id: combination.id), method: :post, :class => "btn-watch" unless @current_user.nil? %>
        </td>
        <td class="device_info shortened hover-popup" 
          data-details="
            <%= combination.device ? combination.device.full_path : "Unknown" %><br/>
            Version : <%= combination.version ? combination.version : "Unknown" %>
          ">
          <span><%= combination.device ? combination.device.name : "Unknown" %></span>
          <br/>
          <% if combination.version %>
          <span class="label label-success">Version : <%= combination.version %></span>
          <% else %>
          <span class="label label-warning">Unknown version</span>
          <% end %>
          <span class="label label-primary">Score : <%= combination.score %></span>
        </td>
        <td><%= combination.submitter ? combination.submitter.name : '' %></td>
        <td class="shortened hover-popup"><%= combination.user_agent ? combination.user_agent.value : "Unknown" %></td>
        <td class="shortened hover-popup">
          <span><%= combination.dhcp_fingerprint.value %></span>
          <span class="splitter"></span>
          <span><%= combination.dhcp_vendor.value %></span>
        </td>
        <td class="shortened hover-popup">
          <span><%= combination.dhcp6_fingerprint.value %></span>
          <span class="splitter"></span>
          <span ><%= combination.dhcp6_enterprise.value %></span>
        </td>
        <td class="shortened hover-popup"><%= combination.mac_vendor ? combination.mac_vendor.name : "Unknown" %></td>

        <td><%= time_ago_in_words(combination.created_at) %> ago</td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
<br>

