<div>

  <%= render :partial => 'search' %>

  <div class="pull-right">

  <%= render :partial => 'shared/stats' if Rails.env.production?  %>
  <%= link_to 'Known combinations', combinations_path, :class => request.path == combinations_path ? 'btn btn-primary active' : 'btn btn-primary' %>
  <%= link_to 'Unknown', unknown_combinations_path, :class => request.path == unknown_combinations_path ? 'btn btn-primary active' : 'btn btn-primary' %>
  <%= link_to 'Unrated', unrated_combinations_path, :class => request.path == unrated_combinations_path ? 'btn btn-primary active' : 'btn btn-primary' %>
  <%= link_to 'Submit a combination', new_combination_path, :class => 'btn btn-primary' %>
  </div>
</div>

<div style="clear:both"></div>
<table class="table-striped">
  <thead>
    <tr>
      <th></th>
      <th><%= sorting_link 'Device', 'devices.name' %></th>
      <th><%= sorting_link 'Score', 'score' %></th>
      <th><%= sorting_link 'Version', 'version' %></th>
      <th>Submitter</th>
      <th><%= sorting_link 'Mac vendor', 'mac_vendors.name' %></th>
      <th><%= sorting_link 'User agent', 'user_agents.value' %></th>
      <th><%= sorting_link 'DHCP fingerprint', 'dhcp_fingerprints.value' %></th>
      <th><%= sorting_link 'DHCP vendor', 'dhcp_vendors.value' %></th>
      <th><%= sorting_link 'Discovered when', 'created_at' %></th>
    </tr>
  </thead>

  <tbody>
    <% @combinations.each do |combination| %>
      <tr>
        <td class="options">
          <%= link_to '', combination, :class => "btn-show" %>
          <%= link_to '', edit_combination_path(combination), :class => "btn-edit" if current_user_admin? %>
          <%= link_to '', combination, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn-delete' if current_user_admin? %>
          <%= link_to '', calculate_combination_path(combination), :class => "btn-refresh" if current_user_admin? %>
          <%= link_to '', user_watched_combinations_path(@current_user, combination_id: combination.id), method: :post, :class => "btn-watch" unless @current_user.nil? %>
        </td>
        <td class="shortened hover-popup" data-details="<%= combination.device ? combination.device.full_path : "Unknown" %>"><%= combination.device ? combination.device.name : "Unknown" %></td>
        <td><%= combination.score %>
        <td><%= combination.version %></td>
        <td><%= combination.submitter ? combination.submitter.name : '' %></td>
        <td class="shortened hover-popup"><%= combination.mac_vendor ? combination.mac_vendor.name : "Unknown" %></td>
        <td class="shortened hover-popup"><%= combination.user_agent ? combination.user_agent.value : "Unknown" %></td>
        <td class="shortened hover-popup"><%= combination.dhcp_fingerprint ? combination.dhcp_fingerprint.value : "Unknown" %></td>
        <td class="shortened hover-popup"><%= combination.dhcp_vendor ? combination.dhcp_vendor.value : "Unknown" %></td>
        <td><%= time_ago_in_words(combination.created_at) %> ago</td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
<br>

