<table class="table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Device</th>
      <th>Score</th>
      <th>Version</th>
      <th>Submitter</th>
      <th>Mac vendor</th>
      <th>User agent</th>
      <th>DHCP fingerprint</th>
      <th>DHCP vendor</th>
      <th>Discovered when</th>
    </tr>
  </thead>

  <tbody>
    <% @watched_combinations.each do |watched_combination| %>
      <tr>
        <td class="options">
          <%= link_to '', combination_path(watched_combination.combination), :class => "btn-show" %>
          <%= link_to '', edit_combination_path(watched_combination.combination), :class => "btn-edit" if current_user_admin? %>
          <%= link_to '', calculate_combination_path(watched_combination.combination), :class => "btn-refresh" if current_user_admin? %>
          <%= link_to '', user_watched_combination_path(watched_combination.user, watched_combination), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn-unwatch' if current_user_admin? %>
        </td>
        <td class="shortened hover-popup" data-details="<%= watched_combination.combination.device ? watched_combination.combination.device.full_path : "Unknown" %>"><%= watched_combination.combination.device ? watched_combination.combination.device.name : "Unknown" %></td>
        <td><%= watched_combination.combination.score %>
        <td><%= watched_combination.combination.version %></td>
        <td><%= watched_combination.combination.submitter ? watched_combination.combination.submitter.name : '' %></td>
        <td class="shortened hover-popup"><%= watched_combination.combination.mac_vendor ? watched_combination.combination.mac_vendor.name : "Unknown" %></td>
        <td class="shortened hover-popup"><%= watched_combination.combination.user_agent ? watched_combination.combination.user_agent.value : "Unknown" %></td>
        <td class="shortened hover-popup"><%= watched_combination.combination.dhcp_fingerprint ? watched_combination.combination.dhcp_fingerprint.value : "Unknown" %></td>
        <td class="shortened hover-popup"><%= watched_combination.combination.dhcp_vendor ? watched_combination.combination.dhcp_vendor.value : "Unknown" %></td>
        <td><%= time_ago_in_words(watched_combination.combination.created_at) %> ago</td>
      </tr>
    <% end %>
  </tbody>
</table>
