
<%= simple_show_container do %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" style="display:inline">Download the Fingerbank database</h3>
    <%= link_to "Click here to download", "#{api_v1_download_path}?key=#{@current_user.key}", :style => 'float:right' %> 
  </div>
  <div class="panel-body">
    <p>You can download the latest computed data of the Fingerbank database.</p>
    <p>This will give you all the discovered combinations with their respective score.</p>
    <p>This database is packaged as SQLite3</p>

    <p>
      You can also download the database through our API by using this URL :
      <pre><%= root_url %>api/v1/download?key=<%= @current_user.key %></pre>
    </p>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" style="display:inline">Download the Fingerbank p0f map</h3>
    <%= link_to "Click here to download", "#{api_v1_download_p0f_map_path}?key=#{@current_user.key}", :style => 'float:right;' %> 
  </div>
  <div class="panel-body">
    <p>The Fingerbank compatible p0f map will allow p0f to use the same device identifiers as Fingerbank so that when interogating it's socket, it will return a device identifier that can be used directly with the Fingerbank database.</p>

  </div>
</div>
<% end %>
