<!DOCTYPE html>
<html>
<head>
  <title>Fingerbank</title>
  <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script language="text/javascript">
     function load_js(){
       var head= document.getElementsByTagName('head')[0];
       var script= document.createElement('script');
       script.type= 'text/javascript';
       script.src= 'source_file.js';
       head.appendChild(script);
     }
     load_js();
  </script>
</head>
<body>

<%= render "layouts/header" %>
<%= render partial: "shared/help" %>
<%= render partial: "shared/flash_messages", flash: flash %> 
<%= yield %>


</body>
</html>
