
<ul class="stats list-group">
<% cache('stats') do %>
  <li class="list-group-item"><%= Combination.count %> different combinations discovered</li>
  <li class="list-group-item"><%= Combination.unknown.count %> unknown combinations</li>
  <li class="list-group-item"><%= new_combinations(1.day.ago).size %> new combinations discovered in the last 24 hours</li>
  <li class="list-group-item"><%= new_user_agents(1.day.ago).size %> new user agents discovered in the last 24 hours</li>
  <li class="list-group-item"><%= Combination.average(:score).round %> is the average combination score</li>
<% end %>      
  <li class="list-group-item"><%= average_response_time %>ms is the average response time for interrogate</li>
</ul>
