<!-- Button trigger modal -->
<button type="button" id="stats_button" class="btn btn-primary" >
  Statistics
</button>

<!-- Modal -->
<div class="modal fade" id="stats_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Fingerbank stats</h4>
      </div>
      <div class="modal-body">
        <% cache('stats') do %>
        <ul class="stats list-group">
          <li class="list-group-item"><%= Combination.count %> different combinations discovered</li>
          <li class="list-group-item"><%= Combination.unknown.count %> unknown combinations</li>
          <li class="list-group-item"><%= new_combinations(1.day.ago).size %> new combinations discovered in the last 24 hours</li>
          <li class="list-group-item"><%= new_user_agents(1.day.ago).size %> new user agents discovered in the last 24 hours</span>
          <li class="list-group-item"><%= Combination.average(:score) %> is the average combination score</span>
        </ul>
        <% end %>      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  $('#stats_button').on('click', function(){
    $('#stats_modal').modal('show')
  });
</script>
